<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087460686681-i2md1hojn4vd1qh86cgjsfkhq2th23a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087460686681-i2md1hojn4vd1qh86cgjsfkhq2th23a9</string>
	<key>API_KEY</key>
	<string>AIzaSyD6PGvjhwMbSq1zjUKZUu5iR-rItoLo-9I</string>
	<key>GCM_SENDER_ID</key>
	<string>1087460686681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.cser</string>
	<key>PROJECT_ID</key>
	<string>cser-d0ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>cser-d0ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087460686681:ios:bfbca1448b9ae94d</string>
	<key>DATABASE_URL</key>
	<string>https://cser-d0ce7.firebaseio.com</string>
</dict>
</plist>